
{%extends "main/base.html"%}
{%block administration%}<h1><a href="{% url "administration" %}">ADMIN</a></h1>{%endblock%}
{%block content%}
{% load static %}
<link rel="stylesheet" href="{% static "css/index.css"%}">
<a href='{% url "create_m" %}'>
    <div class="plus">
        <p>+</p>
    </div>
</a>

<div class="block_container">
{%for item in media_p%}
<div class="block">
    <div class="poster">
        <img src="/{{item.poster}}/" alt="">
    </div>
    <div class="name">
        <p>{{item.name}}</p>
    </div>
    <div class="buttons">
        
        <a class="" href="{% url "update" item.id %}"><input type="button" class="button b-upd" value="Update"></a>
        <a class="" href="{% url "player" item.id item.slug item.id %}"><input type="button" class="button b-view" value="Viewing"></a>
        </div>

</div>
{%endfor%}
</div>

{%endblock%}