<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static "css/main.css"%}">
	<link rel="stylesheet" href="{% static "css/null.css"%}">

	<title>{%block title%}{%endblock%}</title>
</head>
<body>
	<div class="wrapper">
		<header class="header">
			<div class="logo">
				<h1><a class="logo_name" href="{%url 'home_page'%}">multmeeks</a></h1>
				{% if user.is_superuser %}
					{{user}}
				{% endif %}
				{%block administration%}{%endblock%}
			</div>
			<hr>
			<div class="links">
				<ul class="menu_links">
					{% if user.is_superuser %}
					<a class="link_item" href="{% url "administration" %}">administration</a>
					
					{% endif %}
					
					{%if user.is_authenticated%}
					<a class="link_item" href="{% url "logout" %}">Logout</a>
					{%else%}
					<a class="link_item" href="{% url "login" %}">Login</a>
					<a class="link_item" href="{% url "register" %}">Seg in</a>
					{%endif%}
				
					<li><a class="link_item" href="/{{Media.category.slug}}/">{{Media.category.name}}</a></li>
					
				</ul>
			</div>
		</header>
		<main class="main">
            {%block content%}         
                
            {%endblock%}
		</main>
	</div>
</body>
</html>